[submodule "roles/rvm_io.rvm1-ruby"]
	path = roles/rvm_io.rvm1-ruby
	url = https://github.com/rvm/rvm1-ansible.git
[submodule "roles/jdauphant.nginx"]
	path = roles/jdauphant.nginx
	url = https://github.com/jdauphant/ansible-role-nginx.git
[submodule "roles/jdauphant.ssl-certs"]
	path = roles/jdauphant.ssl-certs
	url = https://github.com/jdauphant/ansible-role-ssl-certs.git
[submodule "roles/griggheo.consul-template"]
	path = roles/griggheo.consul-template
	url = https://github.com/griggheo/ansible-consul-template.git
