compilation:
  cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    instance_type: c3.large
  network: cf1
  reuse_compilation_vms: true
  workers: 6
director_uuid: {{ cf_director_uuid }}
jobs:
- instances: 1
  name: ha_proxy_z1
  networks:
  - name: cf1
    static_ips:
    - 10.0.2.4
  properties:
    metron_agent:
      zone: z1
  resource_pool: router_z1
  templates:
  - name: haproxy
    release: cf
  - name: metron_agent
    release: cf
- instances: 1
  name: nfs_z1
  networks:
  - name: cf1
    static_ips:
    - 10.0.2.8
  persistent_disk: 102400
  properties:
    metron_agent:
      zone: z1
  resource_pool: medium_z1
  templates:
  - name: debian_nfs_server
    release: cf
  - name: metron_agent
    release: cf
- instances: 1
  name: postgres_z1
  networks:
  - name: cf1
    static_ips:
    - 10.0.2.9
  persistent_disk: 4096
  properties:
    metron_agent:
      zone: z1
  resource_pool: medium_z1
  templates:
  - name: postgres
    release: cf
  - name: metron_agent
    release: cf
- instances: 2
  name: cf_z1
  networks:
  - name: cf1
    static_ips:
    - 10.0.2.5
    - 10.0.2.6
  persistent_disk: 10024
  properties:
    metron_agent:
      zone: z1
    doppler:
      zone: z1
    traffic_controller:
      zone: z1
  resource_pool: large_z1
  templates:
  - name: metron_agent
    release: cf
  - name: route_registrar
    release: cf
  - name: statsd-injector
    release: cf
  - name: nfs_mounter
    release: cf
  - name: nats
    release: cf
  - name: nats_stream_forwarder
    release: cf
  - name: etcd
    release: cf
  - name: etcd_metrics_server
    release: cf
  - name: uaa
    release: cf
  - name: cloud_controller_ng
    release: cf
  - name: routing-api
    release: cf
  - name: cloud_controller_clock
    release: cf
  - name: cloud_controller_worker
    release: cf
  - name: hm9000
    release: cf
  - name: doppler
    release: cf
  - name: syslog_drain_binder
    release: cf
  - name: loggregator_trafficcontroller
    release: cf
  - name: gorouter
    release: cf
- instances: 1
  name: cf_z2
  networks:
  - name: cf2
    static_ips:
    - 10.0.3.5
  persistent_disk: 10024
  properties:
    metron_agent:
      zone: z2
    doppler:
      zone: z2
    traffic_controller:
      zone: z2
  resource_pool: large_z2
  templates:
  - name: metron_agent
    release: cf
  - name: route_registrar
    release: cf
  - name: statsd-injector
    release: cf
  - name: nfs_mounter
    release: cf
  - name: nats
    release: cf
  - name: nats_stream_forwarder
    release: cf
  - name: etcd
    release: cf
  - name: etcd_metrics_server
    release: cf
  - name: uaa
    release: cf
  - name: cloud_controller_ng
    release: cf
  - name: routing-api
    release: cf
  - name: cloud_controller_clock
    release: cf
  - name: cloud_controller_worker
    release: cf
  - name: hm9000
    release: cf
  - name: doppler
    release: cf
  - name: syslog_drain_binder
    release: cf
  - name: loggregator_trafficcontroller
    release: cf
  - name: gorouter
    release: cf
- instances: 1
  name: stats_z1
  networks:
  - name: cf1
    static_ips:
    - 10.0.2.7
  properties:
    metron_agent:
      zone: z1
  resource_pool: small_z1
  templates:
  - name: collector
    release: cf
  - name: metron_agent
    release: cf
- instances: 2
  name: runner_z1
  networks:
  - name: cf1
    static_ips: null
  properties:
    dea_next:
      zone: z1
    metron_agent:
      zone: z1
  resource_pool: runner_z1
  templates:
  - name: dea_next
    release: cf
  - name: dea_logging_agent
    release: cf
  - name: metron_agent
    release: cf
  update:
    max_in_flight: 1
- instances: 1
  name: runner_z2
  networks:
  - name: cf2
    static_ips: null
  properties:
    dea_next:
      zone: z2
    metron_agent:
      zone: z2
  resource_pool: runner_z2
  templates:
  - name: dea_next
    release: cf
  - name: dea_logging_agent
    release: cf
  - name: metron_agent
    release: cf
name: {{ cf_environment }}
networks:
- name: cf1
  subnets:
  - cloud_properties:
      security_groups:
      - cf
      subnet: {{ cf_subnet_id_1 }}
    dns:
    - 10.0.2.2
    gateway: 10.0.2.1
    range: 10.0.2.0/24
    reserved:
    - 10.0.2.2 - 10.0.2.3
    static:
    - 10.0.2.4 - 10.0.2.9
- name: cf2
  subnets:
  - cloud_properties:
      security_groups:
      - cf
      subnet: {{ cf_subnet_id_2 }}
    dns:
    - 10.0.0.2
    gateway: 10.0.3.1
    range: 10.0.3.0/24
    reserved:
    - 10.0.3.2 - 10.0.3.3
    static:
    - 10.0.3.4 - 10.0.3.9
properties:
  app_domains:
  - {{ cf_app_domain }}
  cc:
    allow_app_ssh_access: false
    broker_client_default_async_poll_interval_seconds: null
    bulk_api_password: {{ cf_bulk_api_password }}
    db_encryption_key: {{ cf_ccdb_encryption_key }}
    db_logging_level: info
    default_running_security_groups:
    - public_networks
    - dns
    default_staging_security_groups:
    - public_networks
    - dns
    install_buildpacks:
    - name: staticfile_buildpack
      package: buildpack_staticfile
    - name: java_buildpack
      package: buildpack_java_offline
    - name: ruby_buildpack
      package: buildpack_ruby
    - name: nodejs_buildpack
      package: buildpack_nodejs
    - name: go_buildpack
      package: buildpack_go
    - name: python_buildpack
      package: buildpack_python
    - name: php_buildpack
      package: buildpack_php
    - name: binary_buildpack
      package: buildpack_binary
    internal_api_password: {{ cf_bulk_api_password }}
    logging_level: info
    quota_definitions:
      default:
        memory_limit: 10240
        non_basic_services_allowed: true
        total_routes: 1000
        total_services: 100
    security_group_definitions:
    - name: public_networks
      rules:
      - destination: 0.0.0.0-9.255.255.255
        protocol: all
      - destination: 11.0.0.0-169.253.255.255
        protocol: all
      - destination: 169.255.0.0-172.15.255.255
        protocol: all
      - destination: 172.32.0.0-192.167.255.255
        protocol: all
      - destination: 192.169.0.0-255.255.255.255
        protocol: all
    - name: dns
      rules:
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: tcp
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: udp
    srv_api_uri: https://api.{{ cf_domain }}
    staging_upload_password: {{ cf_staging_upload_password }}
    staging_upload_user: {{ cf_staging_upload_user }}
  ccdb:
    address: {{ cf_ccdb_address }}
    databases:
    - name: ccdb
      tag: cc
    db_scheme: {{ cf_ccdb_scheme }}
    port: {{ cf_ccdb_port }}
    roles:
    - name: {{ cf_ccdb_user_name }}
      password: {{ cf_ccdb_user_password }}
      tag: {{ cf_ccdb_user }}
  databases:
    databases:
    - name: ccdb
      tag: cc
      citext: true
    - name: uaadb
      tag: uaa
      citext: true
    port: 5524
    roles:
    - name: {{ cf_ccdb_user_name }}
      password: {{ cf_ccdb_user_password }}
      tag: {{ cf_ccdb_user }}
    - name: {{ cf_uaadb_user_name }}
      password: {{ cf_uaadb_user_password }}
      tag: {{ cf_uaadb_user }}
  dea_next:
    directory_server_protocol: http
    disk_mb: {{ cf_disk_mb }}
    heartbeat_interval_in_seconds: 10
    memory_mb: {{ cf_memory_mb }}
  domain: {{ cf_domain }}
  doppler_endpoint:
    shared_secret: {{ cf_loggregator_endpoint_shared_secret }}
  dropsonde:
    enabled: true
  etcd:
    machines:
    - 10.0.2.5
    - 10.0.2.6
    - 10.0.3.5
    peer_require_ssl: false
    require_ssl: false
  etcd_metrics_server:
    nats:
      machines:
      - 10.0.2.5
      - 10.0.2.6
      - 10.0.3.5
      password: {{ cf_nats_password }}
      username: {{ cf_nats_user }}
  hm9000:
    url: https://hm9000.{{ cf_domain }}
  loggregator:
    etcd:
      machines:
      - 10.0.2.5
      - 10.0.2.6
      - 10.0.3.5
  loggregator_endpoint:
    shared_secret: {{ cf_loggregator_endpoint_shared_secret }}
  login:
    protocol: http
  metron_agent:
    deployment: {{ cf_environment }}
  metron_endpoint:
    shared_secret: {{ cf_loggregator_endpoint_shared_secret }}
  nats:
    machines:
    - 10.0.2.5
    - 10.0.2.6
    - 10.0.3.5
    password: {{ cf_nats_password }}
    port: 4222
    user: {{ cf_nats_user }}
  nfs_server:
    address: 10.0.2.8
    allow_from_entries:
    - 10.0.2.0/24
    - 10.0.3.0/24
    share_path: /var/vcap/nfs
  router:
    servers:
      z1:
      - 10.0.2.5
      - 10.0.2.6
      z2:
      - 10.0.3.5
    ssl_skip_validation: true
  route_registrar:
    routes:
    - name: uaa
      port: 8080
      tags:
        component: uaa
      uris:
      - uaa.{{ cf_domain }}
      - '*.uaa.{{ cf_domain }}'
      - login.{{ cf_domain }}
      - '*.login.{{ cf_domain }}'
    - name: api
      port: 9022
      tags:
        component: CloudController
      uris:
      - api.{{ cf_domain }}
    - name: hm9000
      port: 5155
      tags:
        component: HM9K
      uris:
      - hm9000.{{ cf_domain }}
    - name: doppler
      port: 8081
      uris:
      - doppler.{{ cf_domain }}
    - name: loggregator
      port: 8080
      uris:
      - loggregator.{{ cf_domain }}
  ssl:
    skip_cert_verify: true
  system_domain: {{ cf_system_domain }}
  system_domain_organization: {{ cf_system_domain_organization }}
  uaa:
    admin:
      client_secret: {{ cf_admin_secret }}
    cc:
      client_secret: {{ cf_cc_client_secret }}
    clients:
      cc_routing:
        authorities: routing.router_groups.read
        authorized-grant-types: client_credentials
        secret: {{ cf_cc_routing_secret }}
      cloud_controller_username_lookup:
        authorities: scim.userids
        authorized-grant-types: client_credentials
        secret: {{ cf_cloud_controller_username_lookup_secret }}
      doppler:
        authorities: uaa.resource
        override: true
        secret: {{ cf_doppler_secret }}
      gorouter:
        authorities: clients.read,clients.write,clients.admin,routing.routes.write,routing.routes.read
        authorized-grant-types: client_credentials,refresh_token
        scope: openid,cloud_controller_service_permissions.read
        secret: {{ cf_gorouter_secret }}
      login:
        authorities: oauth.login,scim.write,clients.read,notifications.write,critical_notifications.write,emails.write,scim.userids,password.write
        authorized-grant-types: authorization_code,client_credentials,refresh_token
        override: true
        redirect-uri: https://login.{{ cf_domain }}
        scope: openid,oauth.approvals
        secret: {{ cf_login_client_secret }}
      notifications:
        authorities: cloud_controller.admin,scim.read
        authorized-grant-types: client_credentials
        secret: {{ cf_notifications_client_secret }}
    no_ssl: true
    proxy:
      servers:
      - 10.0.2.5
      - 10.0.2.6
      - 10.0.3.5
    scim:
      users:
      - admin|{{ cf_admin_password }}|scim.write,scim.read,openid,cloud_controller.admin,doppler.firehose
    url: https://uaa.{{ cf_domain }}
  uaadb:
    address: {{ cf_uaadb_address }}
    databases:
    - name: uaadb
      tag: uaa
    db_scheme: {{ cf_uaadb_scheme }}
    port: {{ cf_uaadb_port }}
    roles:
    - name: {{ cf_uaadb_user_name }}
      password: {{ cf_uaadb_user_password }}
      tag: {{ cf_uaadb_user }}
releases:
- name: cf
  version: latest
resource_pools:
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: small_z1
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_2 }}
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: small_z2
  network: cf2
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: medium_z1
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_2 }}
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: medium_z2
  network: cf2
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    ephemeral_disk:
      size: 65536
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: large_z1
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_2 }}
    ephemeral_disk:
      size: 65536
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: large_z2
  network: cf2
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    ephemeral_disk:
      size: 102400
      type: gp2
    instance_type: m3.large
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: runner_z1
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_2 }}
    ephemeral_disk:
      size: 102400
      type: gp2
    instance_type: m3.large
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: runner_z2
  network: cf2
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    elbs:
    - cfrouter
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: c3.large
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: router_z1
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_2 }}
    elbs:
    - cfrouter
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: c3.large
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: router_z2
  network: cf2
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    ephemeral_disk:
      size: 10240
      type: gp2
    instance_type: m3.medium
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: small_errand
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
- cloud_properties:
    availability_zone: {{ cf_zone_1 }}
    instance_type: c3.xlarge
  env:
    bosh:
      password: $6$4gDD3aV0rdqlrKC$2axHCxGKIObs6tAmMTqYCspcdvQXh3JJcvWOY2WGb4SrdXtnCyNaWlrf3WEqvYR2MYizEGp3kMmbpwBC6jsHt0
  name: xlarge_errand
  network: cf1
  stemcell:
    name: bosh-aws-xen-hvm-ubuntu-trusty-go_agent
    version: latest
update:
  canaries: 1
  canary_watch_time: 30000-600000
  max_in_flight: 1
  serial: true
  update_watch_time: 5000-600000
